.trufa__botao {
    
    background: rgb(163, 163, 179);
    height: 35px;
    width: 30px;
    border-radius: 3px;
    color: #fdfdfd;
    
    
}

.trufa__botao:hover {
    background: blueviolet;
    cursor: pointer;
}

.calc {

    text-align: right;
    border-radius: 3px;
    height: 30px;
    width: 35px;    
    
} 

.calcular {
    background-color: rgb(57, 70, 247);
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
    height: 50px;
    width: 400px;
    color: rgb(220, 228, 223);
    margin: 7%;
    border-radius: 5px;
    padding: auto;
    
}   
   
button:disabled,
    button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    }



